<form class="box" action="/poi/{{poi._id}}/adddetails" method="POST">
  <label>Enter Point of Interest Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <textarea class="textarea" placeholder="Enter Description" name="description"></textarea>
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
      </div>
    </div>
    <div class="select">
      <select>
        <option>Select Category</option>
        <option>River</option>
        <option>Lake</option>
        <option>Sea</option>
        <option>Pond</option>
      </select>
</div>
  </div>
  <button class="button is-primary">Add Details</button>
</form>
<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2" onclick="{let dropdown = document.querySelector('.dropdown');
    dropdown.classList.toggle('is-active');}">
      <span>Category</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu2" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <p>Sea</p>
      </div>
      <hr class="dropdown-divider">
      <div class="dropdown-item">
        <p>River</p>
      </div>
      <hr class="dropdown-divider">
      <div class="dropdown-item">
        <p>Lake</p>
      </div>
      <hr class="dropdown-divider">
      <div class="dropdown-item">
        <p>Pond</p>
      </div>
    </div>
  </div>
</div>