<form action="/dashboard/editpoi" method="POST">
  <div class="field">
    <label class="label">Point of Interest Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter Point of Interest name" name="name">
    </div>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <div class="select">
        <select name="category">
          <option disabled selected hidden>Select Category</option>
          <option>River</option>
          <option>Lake</option>
          <option>Sea</option>
          <option>Pond</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary">Edit Point of Interest</button>
    </div>
  </div>
</form>

