<div class="box">
    <div class="block">
        {{location.details.data.description}}
    </div>
    <table class="table is-fullwidth">
    <thead>
        <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            {{location.details.data.latitude}}
            </td>
            <td>
            {{location.details.data.longitude}}
            </td>
        </tr>
    </tbody>
    </table>
</div>