<div class="title p-3 is-flex">
    <div>
        <i style="font-size: 48px; color: rgb(74, 180, 118);"  class="far fa-map"></i>
        <i style="font-size: 48px; color: rgb(153, 14, 14);" class="fas fa-map-marker-alt"></i>
    </div>
    <div class="ml-4">Placemark</div>
</div>
