<div class="box box-link-hover-shadow">
    <h2 class="title">
      {{poi.name}}
    </h2>
    <div class="tags">
        <span class="tag is-primary has-background-info">{{poi.category}}</span>
    </div>
  </div>