{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
  <div class="title">
    {{poi.name}}
  </div>
    {{#if poi.details}}
      {{> list-details}}
      {{> edit-details}}
    {{/if}}
    {{#unless poi.details}}
      {{> add-details}}
    {{/unless}}
  </div>
  <div class="column">
    {{> poi-image }}
  </div>
</section>
