{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
  <div class="title">
    {{poi.name}}
  </div>
    {{#if poi.details}}
      {{> list-details}}
    {{/if}}
    {{> add-details}}
  </div>
  <div class="column">
    {{> poi-image }}
  </div>
</section>
